body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 90vh !important;
}

.main-body {
  max-width: 500px;
}

.main-body2 {
  background-color: #00000021;
  padding: 50px;
  border-radius: 5px;
}

.main-body input {
  border: 1px solid rgba(0, 0, 0, 0.219);
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}

.main-body label {
  display: block;
  font-family: roboto;
  padding: 0;
  margin: 0 !important;
}

.main-body button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border: none;
}
